[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-mail = "*"
reportlab = "*"
qrcode = "*"
pillow = "*"
python-dotenv = "*"
supabase = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
flask-wtf = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.11"
